html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  --padding: 20px;  /* padding pro popisek zákusku */
  --desert-spacing: 30px;  /* rozestup mezi zákusky */
  --radius: 12px; /* zakulacení rohů kartičky */

  --page-bg-color: #f9f9f7;

  --description-color: #888880; /* popis zákusku */

  /* barvy stínů pro jednotlivé zákusky */
  --strawberry-shadow-color: #e4b0a5a0;
  --cupcake-shadow-color: #947293a0;
  --matcha-shadow-color: #8dae7fa0;
  --tiramisu-shadow-color: #bc906da0;
}

body {
  padding: var(--padding);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  background: var(--page-bg);
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: var(--desert-spacing)
}

.header__title {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-size: 4rem;
  text-align: center;
  margin-block: 0;
}

.header__text {
  font-size: 18px;
  color: var(--description-color);
  margin-block: 0;
}


.deserts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desert{
  border: 1px solid lightblue;
  margin-bottom: 20px;
  width: 400px;
}

.desert__image{
  border-radius: var(--radius) var(--radius) 0 0 ;
  display: block;
  width: 100%;
}

.desert--strawberry{
  border-color: var(--strawberry-shadow-color);
  border-radius: var(--radius);
  box-shadow: 3px 5px 30px #e4b0a5a0;
}

.desert--blueberry{
  border-color: var(--cupcake-shadow-color);
  border-radius: var(--radius);
  box-shadow: 3px 5px 30px #947293a0;
}

.desert--matcha{
  border-color: var(--matcha-shadow-color);
  border-radius: var(--radius);
  box-shadow: 3px 5px 30px #8dae7fa0;
}

.desert--tiramisu{
  border-color: var(--tiramisu-shadow-color);
  border-radius: var(--radius);
  box-shadow: 3px 5px 30px #bc906da0;
}

h2{
  font-size: 24px;
  line-height: 1.25;
}

p{
  font-size: 15px;
  color: var(--description-color)
}

.desert__content{
  padding: var(--padding);
}